section.cr-hero-banner { 
    background-color: #2B56F0; 
}
section.cr-hero-banner .container { 
    position: relative; 
}
section.cr-hero-banner .container .content { 
    position: relative; z-index: 1; 
}
section.cr-hero-banner .container .content .inner { 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center; 
}
section.cr-hero-banner .container .content .inner .left { 
    width: 50%; 
}
section.cr-hero-banner .container .content .inner .left img { 
    width: 100%; 
}
section.cr-hero-banner .container .content .inner .right { 
    width: 50%; 
}
section.cr-hero-banner .container .content .inner .right h1 { 
    margin: 0 0 1.5rem 0; 
}